#mbl-sharebar-footer{
	position: relative;
	display: block;
	margin: 10px;
	font-size: 10px;
	max-height: 30px;
	text-align: center;
	z-index: 500;
}
#mbl-sharebar-footer span.mbl-sharebar-footer-span{
	display: inline-block;
	max-height: 30px;
	background-color: #ffffff;
	padding: 5px;
	border-radius: 5px;
	text-align: center;
	color: #666;
}
#mbl-sharebar-footer span.mbl-sharebar-footer-span a{
	color: #000;
}
#mbl-sharebar{
	display: none;
	position: fixed; 
	left: 0px; 
	width: 100%; 
	z-index: 9999999; 
	text-align: center;
}
#mbl-sharebar.sharebar-top{
	top: 0px;
}
#mbl-sharebar.sharebar-bottom{
	bottom: 0px;
}
#mbl-sharebar.sharebar-landscape.sharebar-top{
	top: 50% !important;
}
#mbl-sharebar.sharebar-landscape.sharebar-bottom{
	bottom: 50% !important;
}
#mbl-sharebar.sharebar-landscape{
	left: 0px !important;
	width: 10% !important;
}
#mbl-sharebar .sharebar-button{
	position: relative;
	display: inline-block;
	vertical-align: middle;
    width: 15%;
    height:0;
    padding-bottom: 15%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    background: #4679BD; 
	background-position: left center;
	background-repeat: no-repeat;
	background-size: contain;
	text-decoration: none;
	margin-top: 10px;
	margin-bottom: 10px;
	overflow: hidden;
	margin-left: 2.5%;
	margin-right: 2.5%;
	font-family: Arial !important;
	box-shadow: 0 0 15px rgba(0,0,0,0.25);
	color: #fff;
	text-align: left;
}
#mbl-sharebar.sharebar-landscape .sharebar-button{
	width: 80%;
	padding-bottom: 80%;
	margin-bottom: 5%;
	margin-top: 5%;
}
#mbl-sharebar .sharebar-button div{
	display: none;
}
#mbl-sharebar .sharebar-button.sharebar-whatsapp{
	background-color: #2ecc71;
	background-image: url('img/sb_whatsapp2.png');
}
#mbl-sharebar .sharebar-button.sharebar-facebook{
	background-color: #4e69a2;
	background-image: url('img/sb_facebook2.png');
}
#mbl-sharebar .sharebar-button.sharebar-twitter{
	background-color: #3498db;
	background-image: url('img/sb_twitter2.png');
}
#mbl-sharebar .sharebar-button.sharebar-google{
	background-color: #dd4b39;
	background-image: url('img/sb_google.png');
}