.wd_error {
  border-color: #dd3d36 !important;
}

.wd_updated {
  border-color: #7ad03a !important;
}

.wd_error,
.wd_updated {
  background: #fff none repeat scroll 0 0;
  border-left: 4px solid #fff;
  box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.1);
  margin: 5px 0 2px;
  padding: 1px 12px;
}

.wdps_more {
  font-size: 12px;
}

div[id^="wdps_container"] * {
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  line-height: 1;
}

div[id^="wdps_container"] p {
  padding: 0 !important;
  margin: 0 !important;
}

div[id^="wdps_container"] video {
  max-width: none !important;
  margin: 0 !important;
  padding: 0 !important;
}

.wdps_layer a,
.wdps_layer a:hover {
  color: inherit !important;
  font-size: inherit !important;
  font-style: inherit !important;
  font-weight: inherit !important;
  /*text-decoration: none;*/
}

.wdps_loading_img {
  border: none !important;
  float: none;
  width: 30px;
  /*animation: spin 2.5s infinite linear;
  -moz-animation: spin 2.5s infinite linear;
  -o-animation: spin 2.5s infinite linear;
  -webkit-animation: spin 2.5s infinite linear;*/
}

.wdps_loading {
  text-align: center;
  height: 150px;
  margin-top: 60px;
}

div[id^="wdps_container"] .wdps_btn_cont {
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  vertical-align: middle;
  width: 100%;
}

div[id^="wdps_container"] .wdps_contTableCell {
  display: table-cell;
}

div[id^="wdps_container"] .wdps_contTable {
  display: table;
}

div[id^="wdps_container"] .wdps_left_btn_cont,
div[id^="wdps_container"] .wdps_right_btn_cont,
div[id^="wdps_container"] .wdps_pp_btn_cont {
  display: inline-block;
  position: relative;
  text-align: center;
  vertical-align: middle;
  z-index: 150;
}

div[id^="wdps_container"] .wdps_left_btn_cont {
  margin-left: 10px;
}

div[id^="wdps_container"] .wdps_right_btn_cont {
  margin-right: 10px;
}

.wdps_preview_cont1 {
  display: table;
  height: 100%;
  width: 100%;
}

.wdps_preview_cont2 {
  display: table-cell;
  vertical-align: middle;
}

span[data-type="wdps_text_parent"] * {
  color: inherit;
  font-family: inherit;
  font-size: inherit;
  margin: inherit;
  padding: inherit;
  
}

@-webkit-keyframes wdpszoom0 { 100% { background-size: 170%; }}
@-webkit-keyframes wdpszoom70 { 100% { background-size: 100%; }}
@-moz-keyframes wdpszoom0 { 100% { background-size: 170%; }}
@-moz-keyframes wdpszoom70 { 100% { background-size: 100%; }}
@keyframes wdpszoom0 { 100% { background-size: 170%; }}
@keyframes wdpszoom70 { 100% { background-size: 100%; }}

.wdps_play_btn_cont{
  width:100%; 
  height:100%; 
  position:absolute; 
  z-index: 1; 
  cursor:pointer
}
